# Auto detect text files and perform LF normalization
* text=autovscode://eamodio.gitlens/did-authenticate?gkstate=8764b442-1810-4c00-95d8-bc6619e24831&windowId=1&code=f9e691134558650ebfb5307dc7f60aabfbcad483&referrer=gitlens

Copy URL

